<app-header></app-header>
<div class="hader">
    <div class="container ">
        <div class="row  "style="align-items: center;">
            <div class="col-lg-6">

    <h1>

        HIRE SKILLED <br> CANDIDATES <br>
<span>quick</span> and  <span>Easy</span>

    </h1>




    <p>Find best candidates at your<br> preferred location  while sitting  <br>right in your office</p>
</div>

<div class="col-lg-6">
    <mat-card class=" py-md-3">
   <h2> Post a <span> Free </span> job Today</h2>
   
   <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup_form">
    <mat-form-field appearance="outline" class="su-input">
        <mat-label>Name* </mat-label>
        <input formControlName="name" matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" class="su-input">
        <mat-label>Email*</mat-label>
        <input matInput formControlName="email" type="email">
    </mat-form-field>
    <mat-form-field appearance="outline" class="su-input">
        <mat-label>Phone*</mat-label>
        <input formControlName="phone" matInput (keypress)="numberOnly($event)" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" class="su-input">
        <mat-label>Designation*</mat-label>
        <input formControlName="designation" matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" class="su-input">
        <mat-label>Organisation*</mat-label>
        <input formControlName="organisation" matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" class="su-input">
        <mat-label>Website*</mat-label>
        <input formControlName="website" matInput type="url">
    </mat-form-field>
    <mat-form-field appearance="outline" class="su-input">
        <mat-label>Department*</mat-label>
        <input formControlName="department" matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" class="su-input">
        <mat-label>Password*</mat-label>
        <input formControlName="password" matInput type="password">
    </mat-form-field>
    <mat-form-field appearance="outline" class="su-input">
        <mat-label>Confirm Password*</mat-label>
        <input formControlName="cpassword" matInput type="password">
    </mat-form-field>
     <div class="su-button-cont"> 
        <div class="btn">
            <button mat-flat-button [disabled]="signupForm.invalid" type="submit" class="btn-success right_align">Submit</button>
        </div>
    </div>
</form>
<div class="have-account">Have an account? <a href="javascript:void(0)" [routerLink]="['/sign-in']">Sign In</a></div>
    <!-- <div class="errorMsg" *ngIf="isError">{{this.isError}}</div> -->

   </mat-card>
</div>
</div>
</div>
</div>
<div class="aboutus">
    <div class="container ">
        <div class="row align-items-center">
                <div class="col-lg-12">
                    <ul>


                        <li class="boder-right">
                            <img src="assets/images/Sign.png" class="img-fluid" >
                            <h1>Sign up with a company profile</h1>
                
                            <p>First step to tell candidates <br>about who you are</p>


                        </li>

                        <li class="boder-bottom">
                            <img src="assets/images/Sign.png" class="img-fluid right_align" >
                            <h1 class="text-right">Create a job  Description</h1>
                
                            <p class="text-right">As easy as copying and pasting your existing JDs</p>


                        </li>

                        
                        <li class="boder-right">
                            <img src="assets/images/Sign.png" class="img-fluid" >
                            <h1>Browse candidates   </h1>
                
                            <p>Search through our list of <br> qualified candidates at your <br>desired location </p>


                        </li>

                        <li class="boder-bottom">
                            <img src="assets/images/Sign.png" class="img-fluid right_align" >
                            <h1 class="text-right">Hire Top Talent</h1>
                
                            <p class="text-right">Search through our list of<br> qualified candidates at your <br>desired location</p>


                        </li>
                    </ul>
          
            </div>
            </div>
           </div>
</div>

<div class="banner-one">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-lg-6">
  <h1>The next best thing to actually meeting</h1>
<p>Video profiles to match the vibe</p>
            </div>


            <div class="col-lg-6">
                <img src="assets/images/banner-one.png" class="img-fluid" >

                </div>
            </div>
            </div>
</div>




<div class="qualified ">
<h1> <span>Qualified Candidates </span>with flair</h1>
<p>All candidates on <span>Learn4o</span> are trained and tested.<br> Find the ones who match your position</p>
<button class="nav-button btn-success" mat-flat-button [routerLink]="'/sign-up'">
    <span class="nav-button-text">Sign up</span>
  </button>

</div>

<div class="banner-two">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-lg-6">
  <h1> <span>Slice </span> and  <span> Dice </span>the way you want</h1>
<p>Filter candidates by <br>location and profile</p>
            </div>


            <div class="col-lg-6">
                <img src="assets/images/Frame-242.png" class="img-fluid" >
                </div>
            </div>
            </div>
</div>
<div class="banner-three">
    <div class="container ">
        <div class="row align-items-center">


            <div class="col-lg-6">
                <img src="assets/images/People search-pana (1) 1.png" class="img-fluid" >
                </div>


            <div class="col-lg-6">
  <h1> 
  HIRE CANDIDATES <br>
<span>AT NO COST</span></h1>
<p>Find best candidates at your preferred location while just sitting in your office
</p>
            </div>


          
            </div>
            </div>
</div>


<div class="footer">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-lg-4 text">
   
        <img height="100%" src="assets/images/l4o_icon.png" style="    width: 70%;"/>

      <p>Copyright ©  2021 Learn4o Technology pvt ltd.
        All rights reserved</p>
</div>

<div class="col-lg-5 text">

    <ul>
        <li><a href="">  Privacy </a> </li>
        <li>  <a href=""> and Conditions </a></li>
        <li> <a href=""> Refund Policy </a></li>
    </ul>
   </div>
<div class="col-lg-3 text">
    <ul>

        <li>
            <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.6364 39.0502C9.12645 39.0502 0.606445 30.5302 0.606445 20.0202C0.606445 9.51023 9.12645 0.990234 19.6364 0.990234C30.1464 0.990234 38.6664 9.51023 38.6664 20.0202C38.6664 30.5302 30.1464 39.0502 19.6364 39.0502Z" fill="#212121"/>
                <path d="M14.9463 15.77H11.0063V28.49H14.9463V15.77Z" fill="white"/>
                <path d="M12.9565 14.1102C14.2465 14.1102 15.2865 13.0602 15.2865 11.7602C15.2865 10.4602 14.2465 9.41016 12.9565 9.41016C11.6665 9.41016 10.6265 10.4602 10.6265 11.7602C10.6265 13.0602 11.6665 14.1102 12.9565 14.1102Z" fill="white"/>
                <path d="M21.2463 21.8204C21.2463 20.0304 22.0663 18.9704 23.6463 18.9704C25.0963 18.9704 25.7863 19.9904 25.7863 21.8204C25.7863 23.6504 25.7863 28.5004 25.7863 28.5004H29.7063C29.7063 28.5004 29.7063 23.8504 29.7063 20.4404C29.7063 17.0304 27.7763 15.3804 25.0763 15.3804C22.3763 15.3804 21.2463 17.4804 21.2463 17.4804V15.7704H17.4663V28.4904H21.2463C21.2463 28.5004 21.2463 23.7804 21.2463 21.8204Z" fill="white"/>
                </svg>
                  
        </li>

        <li>
            <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.03 39.0502C8.52 39.0502 0 30.5302 0 20.0202C0 9.51023 8.52 0.990234 19.03 0.990234C29.54 0.990234 38.06 9.51023 38.06 20.0202C38.07 30.5302 29.54 39.0502 19.03 39.0502Z" fill="#212121"/>
                <path d="M16.13 31.52H20.76V19.92H23.99L24.33 16.04H20.75C20.75 16.04 20.75 14.59 20.75 13.83C20.75 12.91 20.93 12.55 21.82 12.55C22.53 12.55 24.33 12.55 24.33 12.55V8.52002C24.33 8.52002 21.69 8.52002 21.12 8.52002C17.67 8.52002 16.12 10.04 16.12 12.94C16.12 15.47 16.12 16.04 16.12 16.04H13.71V19.97H16.12V31.52H16.13Z" fill="white"/>
                <path d="M16.13 31.52H20.76V19.92H23.99L24.33 16.04H20.75C20.75 16.04 20.75 14.59 20.75 13.83C20.75 12.91 20.93 12.55 21.82 12.55C22.53 12.55 24.33 12.55 24.33 12.55V8.52002C24.33 8.52002 21.69 8.52002 21.12 8.52002C17.67 8.52002 16.12 10.04 16.12 12.94C16.12 15.47 16.12 16.04 16.12 16.04H13.71V19.97H16.12V31.52H16.13Z" fill="white"/>
                </svg>
                
                  
        </li>
        
        <li>
        <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.03 39.0502C8.52 39.0502 0 30.5302 0 20.0202C0 9.51023 8.52 0.990234 19.03 0.990234C29.54 0.990234 38.06 9.51023 38.06 20.0202C38.06 30.5302 29.54 39.0502 19.03 39.0502Z" fill="#212121"/>
            <path d="M19.0301 11.4703C21.8201 11.4703 22.1501 11.4803 23.2501 11.5303C24.2701 11.5803 24.8201 11.7503 25.1901 11.8903C25.6801 12.0803 26.0201 12.3103 26.3901 12.6703C26.7601 13.0403 26.9801 13.3803 27.1701 13.8703C27.3101 14.2403 27.4801 14.7903 27.5301 15.8103C27.5801 16.9103 27.5901 17.2403 27.5901 20.0303C27.5901 22.8203 27.5801 23.1503 27.5301 24.2503C27.4801 25.2703 27.3101 25.8203 27.1701 26.1903C26.9801 26.6803 26.7501 27.0203 26.3901 27.3903C26.0201 27.7503 25.6801 27.9803 25.1901 28.1703C24.8201 28.3103 24.2701 28.4803 23.2501 28.5303C22.1501 28.5803 21.8201 28.5903 19.0301 28.5903C16.2401 28.5903 15.9101 28.5803 14.8101 28.5303C13.7901 28.4803 13.2401 28.3103 12.8701 28.1703C12.3801 27.9803 12.0401 27.7503 11.6701 27.3903C11.3101 27.0203 11.0801 26.6803 10.8901 26.1903C10.7501 25.8203 10.5801 25.2703 10.5301 24.2503C10.4801 23.1503 10.4701 22.8203 10.4701 20.0303C10.4701 17.2403 10.4801 16.9103 10.5301 15.8103C10.5801 14.7903 10.7501 14.2403 10.8901 13.8703C11.0801 13.3803 11.3101 13.0403 11.6701 12.6703C12.0401 12.3003 12.3801 12.0803 12.8701 11.8903C13.2401 11.7503 13.7901 11.5803 14.8101 11.5303C15.9101 11.4803 16.2401 11.4703 19.0301 11.4703ZM19.0301 9.59033C16.2001 9.59033 15.8401 9.60033 14.7301 9.65033C13.6201 9.70033 12.8601 9.88033 12.2001 10.1403C11.5101 10.4103 10.9301 10.7603 10.3501 11.3403C9.7701 11.9203 9.41009 12.5003 9.15009 13.1903C8.89009 13.8503 8.7201 14.6103 8.6601 15.7203C8.6101 16.8303 8.6001 17.1903 8.6001 20.0203C8.6001 22.8503 8.6101 23.2103 8.6601 24.3203C8.7101 25.4303 8.89009 26.1903 9.15009 26.8503C9.42009 27.5403 9.7701 28.1203 10.3501 28.7003C10.9301 29.2803 11.5101 29.6403 12.2001 29.9003C12.8601 30.1603 13.6201 30.3303 14.7301 30.3903C15.8401 30.4403 16.2001 30.4503 19.0301 30.4503C21.8601 30.4503 22.2201 30.4403 23.3301 30.3903C24.4401 30.3403 25.2001 30.1603 25.8601 29.9003C26.5501 29.6303 27.1301 29.2803 27.7101 28.7003C28.2901 28.1203 28.6501 27.5403 28.9101 26.8503C29.1701 26.1903 29.3401 25.4303 29.4001 24.3203C29.4501 23.2103 29.4601 22.8503 29.4601 20.0203C29.4601 17.1903 29.4501 16.8303 29.4001 15.7203C29.3501 14.6103 29.1701 13.8503 28.9101 13.1903C28.6401 12.5003 28.2901 11.9203 27.7101 11.3403C27.1301 10.7603 26.5501 10.4003 25.8601 10.1403C25.2001 9.88033 24.4401 9.71033 23.3301 9.65033C22.2201 9.60033 21.8601 9.59033 19.0301 9.59033Z" fill="white"/>
            <path d="M19.0299 14.6602C16.0699 14.6602 13.6699 17.0602 13.6699 20.0202C13.6699 22.9802 16.0699 25.3802 19.0299 25.3802C21.9899 25.3802 24.3899 22.9802 24.3899 20.0202C24.3899 17.0602 21.9899 14.6602 19.0299 14.6602ZM19.0299 23.5002C17.1099 23.5002 15.5499 21.9402 15.5499 20.0202C15.5499 18.1002 17.1099 16.5402 19.0299 16.5402C20.9499 16.5402 22.5099 18.1002 22.5099 20.0202C22.5099 21.9402 20.9499 23.5002 19.0299 23.5002Z" fill="white"/>
            <path d="M25.8501 14.4502C25.8501 15.1402 25.2901 15.7002 24.6001 15.7002C23.9101 15.7002 23.3501 15.1402 23.3501 14.4502C23.3501 13.7602 23.9101 13.2002 24.6001 13.2002C25.2901 13.2002 25.8501 13.7602 25.8501 14.4502Z" fill="white"/>
            </svg>
            </li>
        </ul>
    
</div>
</div>
</div>
</div>