<div class="add-remark-modal">

    <h1 class="text-center">Add remarks</h1>
    <form class="sign_in_form" [formGroup]="remarkForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <!-- <div class="col-md-3">
                <mat-label>Remarks:</mat-label>
            </div> -->
            <div class="col-md-12">
                <mat-form-field class="example-full-width" appearance="fill">
                    <textarea formControlName="remark" matInput placeholder="Seemed confident, can do a technical round now"
                        rows="10"></textarea>
                </mat-form-field>
            </div>
            <div class="col-md-12 text-right">
                <div class="btn">
                    <button id="close-modal" mat-button mat-dialog-close class="btn-cancel mr-2">Cancel</button>
                    <button mat-flat-button type="submit" class="btn-save btn-su btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>