<app-header></app-header>
<div class="container header-top-spacing">
<div class="row justify-content-center">
    <div class="signin_section col-6">


     
        <h4 class="main_title"><span>Welcome Back
        </span></h4>
        <p class="signin_subtitle">Enter credentails to access your acccount</p>
        <form class="sign_in_form" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
            <div class="col-12">
                <mat-form-field appearance="outline" class="su-input">
                    <mat-label>Phone No/Email</mat-label>
                    <input formControlName="email" matInput type="email">
                </mat-form-field>
                <mat-form-field appearance="outline" class="su-input">
                    <mat-label>Enter your Password</mat-label>
                    <input matInput formControlName="password" type="Password">
                    <!-- <mat-error *ngIf="signupForm.controls.password.errors">
                      <div *ngIf="signupForm.controls.password.errors.pattern">Min 8 characters with atleast 1 number and 1 special character</div>
                    </mat-error> -->
                </mat-form-field>
            </div>
            <div class="su-button-cont">
                <a href="javascript:void(0)" [routerLink]="'/account/forgot-password'" class="forgot_pwd d-block">Forgot Password? </a>
                <div class="btn" >
                    <button mat-flat-button type="button" [routerLink]="'/home'" class="btn-cancel "style="margin-right: 5px;">Cancel</button>
                    <button mat-flat-button [disabled]="loginForm.invalid" type="submit" class="btn-success ">Submit</button>
                </div>
                <div class="new_signup" style="margin-top: 10%;text-align: center;color: #C4C4C4;">New to L4o.in?<a href="javascript:void(0)" class="switch-link" [routerLink]="'/sign-up'"> Sign up instead </a></div>
                <!-- <div class="errorMsg" *ngIf="isError">{{this.isError}}</div> -->
            </div>
        </form>
    </div>

</div>
</div>