
<app-header></app-header>
<div class="container ">
    <div class="row">
        <div class="col-lg-12">   
            <button class="nav-button btn-success right_align dashboard "  mat-flat-button [routerLink]="'/dashboard'">
                <span class="nav-button-text">Back to Dashboard</span>
              </button>
    </div>
    </div>
<div class="row   justify-content-center">
    <div class="signin_section col-12">
     
     
        <h4 class="main_title"><span>Onboarding Details
        </span></h4>
       
        <form class="sign_in_form">
            <div class="col-12">
                
                <mat-form-field appearance="outline" class="su-input">
                    <mat-label>Full Name</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field appearance="outline" class="su-input">
                    <mat-label>Designation</mat-label>
                    <input matInput type="text">
                    <!-- <mat-error *ngIf="signupForm.controls.password.errors">
                      <div *ngIf="signupForm.controls.password.errors.pattern">Min 8 characters with atleast 1 number and 1 special character</div>
                    </mat-error> -->
                </mat-form-field>

                <mat-form-field appearance="outline" class="su-input">
                    <mat-label>  Organisation</mat-label>
                    <input matInput type="text">
                    <!-- <mat-error *ngIf="signupForm.controls.password.errors">
                      <div *ngIf="signupForm.controls.password.errors.pattern">Min 8 characters with atleast 1 number and 1 special character</div>
                    </mat-error> -->
                </mat-form-field>

                <mat-form-field appearance="outline" class="su-input">
                    <mat-label>  Company Website</mat-label>
                    <input matInput type="text">
                    <!-- <mat-error *ngIf="signupForm.controls.password.errors">
                      <div *ngIf="signupForm.controls.password.errors.pattern">Min 8 characters with atleast 1 number and 1 special character</div>
                    </mat-error> -->
                </mat-form-field>
                
                
                <mat-form-field appearance="outline" class="su-input">
                    <mat-label>About Company</mat-label>
                    <textarea matInput type="text"></textarea>
                </mat-form-field>
               
                <mat-form-field appearance="outline" class="su-input">
                    <mat-label>Primarily hiring for</mat-label>
                    <mat-select >
                        <mat-option>--</mat-option>
                        <mat-option >
                        
                        </mat-option>
                      </mat-select>
                </mat-form-field>
               
        


            </div>
            <div class="su-button-cont">
           <ul>

            <li>  <div class="upload">Upload Company Logo</div></li>

            <li>     <button mat-flat-button type="submit" class="btn-cancel  "style="    margin-right: 5px; display:block;"><span class="position">  Upload a file</span><input type="file" class="file-upload" style="opacity: 0;" > </button></li>
            
           </ul>
                <div class="btn" style="margin-top: 10%;     margin: 0 auto;
                display: block;">
                    <button mat-flat-button type="submit" class="btn-cancel "style="    margin-right: 5px;">Cancel</button>
                    <button mat-flat-button type="submit" class="btn-success right_align">Submit</button>
                </div>
             
                <!-- <div class="errorMsg" *ngIf="isError">{{this.isError}}</div> -->
            </div>
        </form>
    </div>

</div>
</div>