.main_title{
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
  }
  .signin_subtitle{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #C4C4C4;
  }
  .sign_in_form{
    display: block;
    margin: 0 auto;
    width: 404px;
    height: 426px;
  }
  .sign_in_form .su-input{
    width: 404px;
  }
  .forgot_pwd{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    text-transform: capitalize;
    color: #29B67F;
  }
  
  .signin_section {
    margin-top: 5%;
  }
  
  
  .have-acc{
   font-size: 18px;
    text-align: center;
  padding-bottom: 20px;  
  color: #828282;
  
  
  a{
  
    color: #29B67F;
  }
  }


    .nav-button {
     
        font-size: 18px !important;
       
    }
    .dashboard{

        margin-top: 20px;;
    }
 
    .upload{

        color: #29B67F;
        font-size: 17px;
        padding-left: 20px;
    }

    .su-button-cont{
    ul li{
         margin: 30px 0px;
        list-style: none;
        display:inline-block;
        width: 50%;


    }

    ul{

        padding: 0;
        margin: 0;
    }

   .position{position: relative;
    /* left: 30px; */
    left: 20%;

 color: #fff;
}}