<div class="work-experience">
    <div class="container ">
      <div class="hading">{{frmData.edit?"Edit":"Add"}} Certificate</div>
      <form>
        <div class="row align-items-center">
          <!-- <div class="col-md-5   padding-t15">
    <label>Your Designation :</label>
      </div>
      <div class="col-md-7  padding-t15 ">
      <mat-form-field >
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="Masters">Developer</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
          <div class="col-md-5 padding-t15">
            <label>Title :</label>
  
          </div>
          <div class="col-md-7 padding-t15">
            <mat-form-field>
              <input matInput name="title" [(ngModel)]="frmData.title">
            </mat-form-field>
          </div>
          <div class="col-md-5 padding-t15">
            <label>Authority :</label>
  
          </div>
          <div class="col-md-7 padding-t15">
            <mat-form-field>
              <input matInput name="auth" [(ngModel)]="frmData.authority">
            </mat-form-field>
          </div>
  
          
          <div class="col-md-5 padding-t15">
            <label>Date :</label>
  
          </div>
          <div class="col-md-7 padding-t15">
              <mat-form-field>
                <!-- <mat-label>Date</mat-label> -->
                <input matInput type="date" name="start" [(ngModel)]="frmData.date">
                <!-- <mat-label>Select Year</mat-label>
                  <mat-select>
                    <mat-option value="Masters">Masters</mat-option>
                  
                  </mat-select> -->
              </mat-form-field>
          </div>
          <!-- <div class="col-md-5 padding-t15">
          <label
          >Current Salary :</label>
          
            </div>
            <div class="col-md-3 padding-t15">
              <mat-form-field >
                <mat-label>Lacs</mat-label>
                <mat-select>
                  <mat-option value="Masters">Masters</mat-option>
                
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-md-3 padding-t15">
            <mat-form-field >
              <mat-label>Thousand</mat-label>
              <mat-select>
                <mat-option value="Masters">Masters</mat-option>
              
              </mat-select>
            </mat-form-field>
      </div> -->
          <!-- <div class="col-md-5 padding-t15">
          <label
          >Notice Period :</label>
          
            </div>
            <div class="col-md-3 padding-t15">
              <mat-form-field >
                <mat-label>1 Month</mat-label>
                <mat-select>
                  <mat-option value="Masters">Masters</mat-option>
                
                </mat-select>
              </mat-form-field>
        </div> -->
          <div class="col-md-5 padding-t15">
            <label>Description :</label>
  
          </div>
          <div class="col-md-7 padding-t15">
            <mat-form-field appearance="outline" class="su-input">
              <!-- <mat-label>About Company</mat-label>-->
              <textarea matInput rows="5" name="desc" [(ngModel)]="frmData.description"></textarea>
            </mat-form-field>
          </div>
  
        </div>
  
        <div class="col-12">
          <div class="btn">
            <button mat-button mat-dialog-close class="btn-cancel "  (click)="onNoClick()" style="    margin-right: 5px;">Cancel</button>
            <button mat-flat-button type="submit" class="btn-save " [mat-dialog-close]="frmData" cdkFocusInitial>Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>