<app-header></app-header>
<div class="container header-top-spacing">
    <div class="row">
        <div class="col-lg-12">
            <button class="nav-button btn-success right_align dashboard " mat-flat-button
                [routerLink]="'/jobs/dashboard'">
                <span class="nav-button-text">Back to Dashboard</span>
            </button>
        </div>
    </div>
    <div class="row   justify-content-center">
        <div class="signin_section col-12">


            <h4 class="main_title"><span>Update Profile
                </span></h4>

                <form class="sign_in_form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="col-12">
                    <mat-form-field appearance="outline" class="su-input">
                        <mat-label>Name </mat-label>
                        <input formControlName="name" matInput type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="su-input">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="email">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="su-input">
                        <mat-label>Phone</mat-label>
                        <input formControlName="phone" matInput type="tel">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="su-input">
                        <mat-label>Designation</mat-label>
                        <input formControlName="designation" matInput type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="su-input">
                        <mat-label>Organisation</mat-label>
                        <input formControlName="organisation" matInput type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="su-input">
                        <mat-label>Website</mat-label>
                        <input formControlName="website" matInput type="url">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="su-input">
                        <mat-label>Department</mat-label>
                        <input formControlName="department" matInput type="text">
                    </mat-form-field>
            </div>
            <div class="su-button-cont">
                <ul>

                    <li>
                        <div class="upload">Upload Company Logo</div>
                    </li>

                    <li> <button mat-flat-button type="submit" class="btn-cancel  "
                            style="    margin-right: 5px; display:block;"><span class="position"> Upload a
                                file</span><input type="file" class="file-upload" style="opacity: 0;"> </button></li>

                </ul>
                <div class="btn" style="margin-top: 10%;     margin: 0 auto;
                display: block;">
                    <button mat-flat-button type="submit" class="btn-cancel "
                        style="    margin-right: 5px;">Cancel</button>
                    <button mat-flat-button type="submit" class="btn-success right_align">Submit</button>
                </div>

                <!-- <div class="errorMsg" *ngIf="isError">{{this.isError}}</div> -->
            </div>
                </form>
        </div>

    </div>
</div>