.education{


.hading{

    font-size: 36px;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center


    
}

    label{

        font-size: 26px;
        font-weight: 500;
        margin-left: 0;
        display: block;
    
        text-align: right;
    }


mat-form-field {

    width: 100%;
}
.mat-radio-button {
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    /* padding-right: 82px; */
    width: 26%;
}
mat-radio-button {
    
    font-size: 20px !important;
    color: #212121;
    padding-right: 0;
}
.padding-t15{
    padding-top: 15px;
}
.btn{
    padding-top: 30px;
    margin-left: 0;
text-align: right;
display: block;
}
button.btn-cancel {
    background: #C4C4C4;
    width: 180px;
    /* color: #000; */
    color: #263238;
    font-size: 20px;
}
.btn-save{

   background-color: #29B67F; 
   width: 180px;
   color: #fff;
   font-size: 20px;
   


}



}





@media only screen and (min-width: 992px) and (max-width: 1024px)  {








.education label {
    font-size: 16px;
    font-weight: 500;
    margin-left: 0;
    display: block;
    text-align: right;
}
.education .mat-radio-button {
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    width: 50%;
}
}
@media screen and (min-width: 700px) and (max-width: 768px) { 

    .education label {
        font-size: 16px;
        font-weight: 500;
        margin-left: 0;
        display: block;
        text-align: right;
    }
    .education .mat-radio-button {
        display: inline-block;
        -webkit-tap-highlight-color: transparent;
        outline: 0;
        width: 50%;
    }



}

@media only screen and (max-device-width: 480px) {
    .education  label {
       font-size: 14px;
       font-weight: 500;
       margin-left: 0;
       display: block;
    text-align:left; 
   }
   .education  .hading {
       font-size: 33px;
       font-weight: 500;
       padding-top: 40px;
       padding-bottom: 30px;
       text-align: center;
       line-height: 1;
   }

   
   }