<app-header></app-header>
<div class="dashboard header-top-spacing">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- <h1 class="name"> Welcome Name</h1> -->
            </div>
            <div class="col-lg-6 text-right">
                <button class="btn d-inline-block btn-success ml-auto" *ngIf="showProfile" (click)="showProfile=!showProfile" mat-flat-button>
          <span class="nav-button-text">Back to Previous</span>
        </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="pb-0">

                    <!-- <button class="nav-button btn-success  " mat-flat-button [routerLink]="['/jobs/create']">
            <span class="nav-button-text">Create a Job</span>
          </button> -->



                    <div class="row align-items-center mx-0" *ngIf="activeTab('Jobs')">
                        <!-- <div class="col-md-1 padding-t15 ">
              <label class="font-20">Location</label>

            </div> -->
                        <div class="col-md-4 hight">
                            <mat-form-field appearance="outline">

                                <input matInput type="search" [(ngModel)]="serchjobLocationTxt" (ngModelChange)="searchJobByLocation(serchjobLocationTxt)" placeholder="Seach by Location">
                                <!-- <mat-error *ngIf="signupForm.controls.password.errors">
                    <div *ngIf="signupForm.controls.password.errors.pattern">Min 8 characters with atleast 1 number and 1 special character</div>
                  </mat-error> -->
                            </mat-form-field>
                            <!-- <mat-form-field appearance="outline">

                <input matInput type="text" placeholder="Seach by Location">
                < !-- <mat-error *ngIf="signupForm.controls.password.errors">
                      <div *ngIf="signupForm.controls.password.errors.pattern">Min 8 characters with atleast 1 number and 1 special character</div>
                    </mat-error> -- >
              </mat-form-field> -->
                        </div>
                        <div class="col-md-8 pr-0">
                            <button class="nav-button btn-success right_align" mat-flat-button [routerLink]="['/jobs/create']">
                <span class="nav-button-text">Create a Job</span>
              </button>
                        </div>
                    </div>
                    <div class="row align-items-end" *ngIf="activeTab('Candidate') && !showProfile">
                        <div class="col-md-2 text-center mb-3">
                            <button *ngIf="selectedjobId" class="nav-button btn-success d-inline-block w-100" style=" background-color: #29B67F !important;background: none; margin-top: 10px;" mat-flat-button [routerLink]="['/jobs/update/'+selectedjobId]">
                <span class="nav-button-text">Edit Job Posting</span>
              </button>
                        </div>
                        <div class="col-md-2 text-center mb-3">
                            <button class="nav-button btn-success d-inline-block w-100" style=" background-color: #172233 !important;background: none;" mat-flat-button [routerLink]="['/jobs/dashboard/search/'+selectedjobId+'/'+selectedjobId]" data-toggle="pill" href="#v-pills-home"
                                role="tab" aria-controls="v-pills-home" aria-selected="true">
                <span class="nav-button-text">Search for more</span>
              </button>
                            <!-- <button class="nav-button btn-success d-inline-block w-100"
                style=" background-color: #172233 !important;background: none;" mat-flat-button
                (click)="currentActiveTab='Search'" data-toggle="pill" href="#v-pills-home" role="tab"
                aria-controls="v-pills-home" aria-selected="true">
                <span class="nav-button-text">Search for more</span>
              </button> -->
                        </div>
                        <div class="col-md-6 mb-3">
                        </div>
                        <div class="col-md-2 text-center mb-3">
                            <button class="nav-button btn-success d-inline-block w-100" mat-flat-button [routerLink]="['/jobs/create']">
                <span class="nav-button-text">Create a Job</span>
              </button>
                        </div>
                        <div class="col-md-4 col-12 padding-t15">
                            <mat-form-field class="w-100">
                                <mat-label>Showing Candidates for:</mat-label>
                                <mat-select [(ngModel)]="selectedjobId" (ngModelChange)="fetchJobs();">
                                    <mat-option [value]="item?._id" *ngFor="let item of jobsList;let i=index;">
                                        {{item?.title}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 col-12 padding-t15">
                            <mat-form-field class="w-100">
                                <mat-label>Status</mat-label>
                                <mat-select [(ngModel)]="selectedCandidateFilter.status" (ngModelChange)="filterCandidates(selectedCandidateFilter.status)">
                                    <mat-option value="">All</mat-option>
                                    <mat-option value="Hired">Hired</mat-option>
                                    <mat-option value="Pending">Pending</mat-option>
                                    <mat-option value="Phone Screened">Phone Screened</mat-option>
                                    <mat-option value="Resume Reviewed">Resume Reviewed</mat-option>
                                    <mat-option value="Short Listed">Short Listed</mat-option>
                                    <mat-option value="Interview Scheduled">Interview Scheduled</mat-option>
                                    <mat-option value="Rejected">Rejected</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 col-12 padding-t15">
                            <mat-form-field class="mt-3 w-100">
                                <mat-label>Sort by:</mat-label>
                                <mat-select [(ngModel)]="selectedCandidateFilter.sortType" (ngModelChange)="sortfilterCandidates(selectedCandidateFilter.sortType)" class="qualification-drop">
                                    <mat-option value="name">Name </mat-option>
                                    <mat-option value="qualification">Qualification </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-md-9">
              <div class="row justify-content-center" style="align-items: center;">
                <! -- <div class="col-md-4   col-12 padding-t15">
                  <label>Showing Candidates for:</label>
                </div> -- >
                <div class="col-md-7 col-12 padding-t15">
                  <mat-form-field class="w-100">
                    <mat-label>Showing Candidates for:</mat-label>
                    <mat-select [(ngModel)]="selectedjobId">
                      <mat-option [value]="item?._id" *ngFor="let item of jobsList;let i=index;">
                        {{item?.title}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <p class="text-danger" *ngIf="!selectedjobId">Please select a job</p>
                </div>
                <! -- <div class="col-md-2  col-12 padding-t15">
                  <label>Location:</label>
                </div> -- >
                <div class="col-md-5 col-12 padding-t15">
                  <mat-form-field class="w-100">
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="selectedCandidateFilter.status"
                      (ngModelChange)="filterCandidates(selectedCandidateFilter.status)">
                      <mat-option value="">All</mat-option>
                      <mat-option value="Hired">Hired</mat-option>
                      <mat-option value="Pending">Pending</mat-option>
                      <mat-option value="Phone Screened">Phone Screened</mat-option>
                      <mat-option value="Resume Reviewed">Resume Reviewed</mat-option>
                      <mat-option value="Short Listed">Short Listed</mat-option>
                      <mat-option value="Interview Scheduled">Interview Scheduled</mat-option>
                      <mat-option value="Rejected">Rejected</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <! -- <div class="col-md-6  col-12 padding-t15">
                  <mat-form-field *ngIf="selectedFilter.state" class="w-100">
                    <mat-label>District</mat-label>
                    <mat-select class="" [(ngModel)]="selectedFilter.district"
                      (ngModelChange)="fetchApplications()">
                      <mat-option value="">All District</mat-option>
                      <mat-option [value]="item?.name" *ngFor="let item of districtsList;">{{item?.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                        <!-- <div class="w-100"></div>
                <div class="col-md-2  col-12 padding-t15">
                  <label>Sector:</label>

                </div> -->
                        <!-- <div class="col-md-6 col-12 padding-t15">
                  <mat-form-field class="w-100">
                    <mat-label>Sector</mat-label>
                    <mat-select [(ngModel)]="selectedFilter.sector" (ngModelChange)="fetchApplications()">
                      <mat-option [value]="item?.id" *ngFor="let item of sectoresList;">{{item?.title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -- >
              </div>
            </div>
            <div class="col-md-3 text-right">
              <mat-form-field class="w-50 mt-3">
                <mat-label>Sort by:</mat-label>
                <mat-select [(ngModel)]="selectedCandidateFilter.sortType"
                  (ngModelChange)="sortfilterCandidates(selectedCandidateFilter.sortType)" class="qualification-drop">
                  <mat-option value="name">Name </mat-option>
                  <mat-option value="qualification">Qualification </mat-option>
                </mat-select>
              </mat-form-field>
              <! -- <button class="nav-button btn-success " mat-flat-button
                [routerLink]="['/jobs/create']">
                <span class="nav-button-text">Create a Job</span>
              </button> -- >
              <! -- <button class="nav-button btn-success d-inline-block" mat-flat-button [routerLink]="['/jobs/create']">
                <span class="nav-button-text">Create a Job</span>
              </button>
              <button *ngIf="selectedjobId" class="nav-button btn-success d-inline-block"
                style=" background-color: #29B67F !important;background: none; margin-top: 10px;" mat-flat-button
                [routerLink]="['/jobs/update/'+selectedjobId]">
                <span class="nav-button-text">Edit Job Posting</span>
              </button>
              <button class="nav-button btn-success d-inline-block "
                style=" background-color: #172233 !important;background: none;margin-top: 10px;  margin-bottom: 10px;"
                mat-flat-button (click)="currentActiveTab='Search'" data-toggle="pill" href="#v-pills-home" role="tab"
                aria-controls="v-pills-home" aria-selected="true">
                <span class="nav-button-text">Search for more</span>
              </button>
              <mat-form-field class="w-50 mt-3">
                <mat-label>Sort by:</mat-label>
                <mat-select [(ngModel)]="selectedCandidateFilter.sortType"
                  (ngModelChange)="sortfilterCandidates(selectedCandidateFilter.sortType)" class="qualification-drop">
                  <mat-option value="name">Name </mat-option>
                  <mat-option value="qualification">Qualification </mat-option>
                </mat-select>
              </mat-form-field> -- >
            </div> -->
          </div>
          <div class="row " *ngIf="activeTab('Search') && !showProfile">
            <div class="col-md-12">
              <div class="row justify-content-center" style="align-items: center;">
                <!-- <div class="col-md-4   col-12 padding-t15">
                  <label>Showing Candidates for:</label>
                </div> -->
                <div class="col-md  col-12 padding-t15">
                  <mat-form-field class="w-100">
                    <mat-label>Showing Candidates for:</mat-label>
                    <mat-select [(ngModel)]="selectedjobId" (ngModelChange)="fetchApplications();">
                      <mat-option value="">All</mat-option>
                      <mat-option [value]="item?._id" *ngFor="let item of jobsList;let i=index;">
                        {{item?.title}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3 col-12 padding-t15">
                  <mat-form-field class="w-100">
                    <mat-label>Sector</mat-label>
                    <mat-select [(ngModel)]="selectedFilter.sector" (ngModelChange)="fetchApplications()">
                      <mat-option value="">All</mat-option>
                      <mat-option [value]="item?.id" *ngFor="let item of sectoresList;">{{item?.title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- <div class="col-md-2  col-12 padding-t15">
                  <label>Location:</label>
                </div> -->
                                <div class="col-md-3  col-12 padding-t15">
                                    <mat-form-field class="w-100">
                                        <mat-label>State</mat-label>
                                        <mat-select [(ngModel)]="selectedFilterStateIndex" (ngModelChange)="changeState()">
                                            <mat-option value="" selected>All State</mat-option>
                                            <mat-option [value]="i+1" *ngFor="let item of statesList;let i=index;">{{item?.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3  col-12 padding-t15">
                                    <mat-form-field *ngIf="selectedFilter.state" class="w-100">
                                        <mat-label>District</mat-label>
                                        <mat-select class="" [(ngModel)]="selectedFilter.district" (ngModelChange)="fetchApplications()">
                                            <mat-option value="">All District</mat-option>
                                            <mat-option [value]="item?.name" *ngFor="let item of districtsList;">{{item?.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="w-100"></div>
                <div class="col-md-2  col-12 padding-t15">
                  <label>Sector:</label>

                </div> -->
                            </div>
                        </div>
                        <!-- <div class="col-md-3"> 
              <button class="nav-button btn-success " mat-flat-button
                [routerLink]="['/jobs/create']">
                <span class="nav-button-text">Create a Job</span>
              </button>
              <button *ngIf="selectedjobId" class="nav-button btn-success"
                style=" background-color: #29B67F !important;background: none; margin-top: 10px;"
                mat-flat-button [routerLink]="['/jobs/update/'+selectedjobId]">
                <span class="nav-button-text">Edit Job Posting</span>
              </button>
              <button class="nav-button btn-success "
                style=" background-color: #172233 !important;background: none;margin-top: 10px;  margin-bottom: 10px;"
                mat-flat-button (click)="currentActiveTab='Search'" data-toggle="pill" href="#v-pills-home" role="tab"
                aria-controls="v-pills-home" aria-selected="true">
                <span class="nav-button-text">Search for more</span>
              </button>
            </div> -->



                    </div>
                    <div class="row  pd100 ">
                        <div class="col-lg-2 ">
                            <!-- <mat-card class="left-nav-dashboard p-0" style="margin-left: 10px;" *ngIf="!showProfile">
                <div class="nav flex-column nav-pills my-0" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link {{activeTab('Jobs')?'active show':''}}" href="javascript:void(0)"
                    (click)="showProfile=false;currentActiveTab='Jobs'" [routerLink]="'/jobs/dashboard'">
                    <i class="fas fa-briefcase"></i>
                    Jobs</a>
                  <a class="nav-link {{activeTab('Candidate')?'active show':''}}" href="javascript:void(0)"
                    (click)="showProfile=false;currentActiveTab='Candidate'"><i class="fa fa-user"
                      aria-hidden="true"></i>
                    Candidate</a>
                  <a class="nav-link {{activeTab('Search')?'active show':''}}" (click)="currentActiveTab='Search'"
                    href="javascript:void(0)" [routerLink]="'/jobs/dashboard/search'"><i class="fa fa-search"
                      aria-hidden="true"></i>
                    Search</a>
                  <! -- <a class="nav-link {{activeTab('Jobs')?'active show':''}}" id="v-pills-jobs-tab" data-toggle="pill" href="#v-pills-jobs" role="tab"
                    aria-controls="v-pills-jobs" aria-selected="false" (click)="currentActiveTab='Jobs'">
                    <i class="fas fa-briefcase"></i>
                    Jobs</a>
                  <a class="nav-link {{activeTab('Candidate')?'active show':''}}" id="v-pills-candidate-tab" data-toggle="pill" href="#v-pills-candidate" role="tab"
                    aria-controls="v-pills-candidate" aria-selected="false" (click)="showProfile=false"><i
                      class="fa fa-user" aria-hidden="true" (click)="currentActiveTab='Candidate'"></i>
                    Candidate</a>
                  <a class="nav-link {{activeTab('Search')?'active show':''}}" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                    aria-controls="v-pills-home" aria-selected="true"><i class="fa fa-search" aria-hidden="true" (click)="currentActiveTab='Search'"></i>
                    Search</a> -- >
                </div>
              </mat-card> -->
                            <mat-card class="left-nav-dashboard" style="margin-left: 10px;" *ngIf="showProfile">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link" href="javascript:void(0)" (click)="showProfile=!showProfile">
                                        <i class="fas fa-users"></i> All Candidates</a>
                                    <ng-container *ngFor="let item of filteredApplicationsList;let i=index;">
                                        <a class="nav-link" *ngIf="selectedjobId && isCandidateSelectedInJob(item)" href="javascript:void(0)" (click)="getUserProfile(item)">
                                            <i class="fas fa-user"></i> {{item?.name}}
                                        </a>

                                    </ng-container>
                                </div>
                            </mat-card>
                        </div>
                        <div class="{{showProfile?'col-lg-10':'col-lg-12'}}">
                            <div class="tab-content my-0" id="v-pills-tabContent">
                                <div class="tab-pane fade {{activeTab('Jobs')?'show active':''}}" id="v-pills-jobs" role="tabpanel" aria-labelledby="v-pills-jobs-tab">
                                    <mat-card class="table-list-card p-0">
                                        <!-- <div class="row align-items-center mx-0" *ngIf="activeTab('Jobs')">
                      <! -- <div class="col-md-1 padding-t15 ">
                      <label class="font-20">Location</label>
        
                    </div> -- >
                      <div class="col-md-3 hight">
                        <mat-form-field appearance="outline">

                          <input matInput type="search" [(ngModel)]="serchjobLocationTxt"
                            (ngModelChange)="searchJobByLocation(serchjobLocationTxt)" placeholder="Seach by Location">
                          <! -- <mat-error *ngIf="signupForm.controls.password.errors">
                              <div *ngIf="signupForm.controls.password.errors.pattern">Min 8 characters with atleast 1 number and 1 special character</div>
                            </mat-error> -- >
                        </mat-form-field>
                      </div>
                      <div class="col-md-8">
                        <! -- <button class="nav-button btn-success right_align" mat-flat-button
                        [routerLink]="['/jobs/create']">
                        <span class="nav-button-text">Create a Job</span>
                      </button> -- >
                      </div>
                    </div> -->
                                        <div style="overflow-x:auto;" class="my-0">
                                            <table mat-table class="table table-hover mb-0">
                                                <thead>
                                                    <tr>
                                                        <th style="vertical-align: middle;" scope="col" rowspan="2">Job Title</th>
                                                        <th scope="col" colspan="4">Candidates</th>
                                                        <th style="vertical-align: middle;" scope="col" rowspan="2">Status</th>
                                                        <th style="vertical-align: middle;" scope="col" rowspan="2">Action</th>
                                                    </tr>
                                                    <tr>
                                                        <th style="font-size: small;">Shortlist</th>
                                                        <th style="font-size: small;">Reviewed</th>
                                                        <th style="font-size: small;">Interviewed</th>
                                                        <th style="font-size: small;">Onboard</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngIf="jobsList?.length==0">
                                                        <td colspan="7" class="text-center">
                                                            No Jobs Created,please a Job
                                                        </td>
                                                    </tr>
                                                    <tr *ngFor="let item of jobsList;let i=index;">

                                                        <td style="cursor: pointer;" [routerLink]="'/jobs/dashboard/candidates/'+item?._id+'/'+item?.sector_id"><a href="javascript:void(0)">{{item?.title}}</a>
                                                        </td>
                                                        <td style="cursor: pointer;" [routerLink]="'/jobs/dashboard/candidates/'+item?._id+'/'+item?.sector_id"><button class="btn btn-link text-dark">
                                <!-- Shortlist --> {{item?.shortListed}}
                              </button></td>
                                                        <td style="cursor: pointer;" [routerLink]="'/jobs/dashboard/candidates/'+item?._id+'/'+item?.sector_id"><button class="btn btn-link text-dark">
                                <!-- Reviewed --> {{item?.reviewed}}
                              </button></td>

                                                        <td style="cursor: pointer;" [routerLink]="'/jobs/dashboard/candidates/'+item?._id+'/'+item?.sector_id"><button class="btn btn-link text-dark">
                                <!-- Interviewed --> {{item?.interviewed}}
                              </button></td>
                                                        <td style="cursor: pointer;" [routerLink]="'/jobs/dashboard/candidates/'+item?._id+'/'+item?.sector_id"><button class="btn btn-link text-dark">
                                <!-- Onboard --> {{item?.onboard}}
                              </button></td>
                                                        <td>
                                                            <select class="form-select" [(ngModel)]="item.job_status" aria-label="Default select example" (ngModelChange)="updateJob(item)">
                                <option value="hiring">Hiring</option>
                                <option value="paused">Paused</option>
                                <option value="closed">Closed</option>
                              </select>
                                                        </td>
                                                        <td>
                                                            <button class="more btn" [routerLink]="'/jobs/dashboard/search/'+item?._id+'/'+item?.sector_id">Search
                                <!--  for more -->
                              </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="tab-pane fade {{activeTab('Candidate')?'show active':''}}" id="v-pills-candidate" role="tabpanel" aria-labelledby="v-pills-candidate-tab">
                                    <mat-card class="table-list-card p-0" style="overflow: hidden;">
                                        <app-profile [pageContent]="selectedProfile" *ngIf="showProfile"></app-profile>
                                        <div class="my-0" *ngIf="!showProfile">
                                            <div style="overflow-x:auto;">
                                                <table class="table table-borderd table-hover">
                                                    <thead>
                                                        <tr>

                                                            <th scope="col">Name</th>
                                                            <th scope="col">Location</th>
                                                            <th scope="col">Qualification</th>
                                                            <th scope="col">L4o Major</th>
                                                            <th *ngIf="selectedjobId" scope="col">Status</th>
                                                            <th *ngIf="selectedjobId" scope="col">Remarks</th>
                                                            <th width="200px" scope="col">Actions</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngIf="selectedjobId && isEmptyCadidateList()">
                                                            <td colspan="7" class="text-center">
                                                                No candidate shortlisted
                                                            </td>
                                                        </tr>
                                                        <tr *ngIf="!selectedjobId">
                                                            <td colspan="5" class="text-danger text-center">Please select a job</td>
                                                        </tr>
                                                        <ng-container *ngFor="let item of filteredApplicationsList;let i=index;">
                                                            <tr *ngIf="selectedjobId && isCandidateSelectedInJob(item)" class="">

                                                                <td valign="middle"> <a href="javascript:void(0)" (click)="getUserProfile(item)">
                                    {{item?.name}} </a>
                                                                </td>
                                                                <td>
                                                                    {{item?.district}}
                                                                    <p class="mb-0"><small>{{item?.state}}</small></p>
                                                                </td>


                                                                <td>{{item?.qualification}}
                                                                </td>
                                                                <td> {{item?.sector?.title}}
                                                                </td>
                                                                <td *ngIf="selectedjobId">
                                                                    <select *ngIf="item?.statusDetails" [(ngModel)]="item.statusDetails.interview_status" (ngModelChange)="updateInterViewStatus(item)" style="border: none !important;   color: #4343E5; padding: 5px 16px;letter-spacing: 0.1px;text-decoration-line: underline;"
                                                                        class="form-select" aria-label="Default select example">
                                    <option>Hired</option>
                                    <option>Pending</option>
                                    <option>Phone Screened</option>
                                    <option>Resume Reviewed</option>
                                    <option>Short Listed</option>
                                    <option>Interview Scheduled</option>
                                    <option>Rejected</option>
                                  </select>
                                                                </td>
                                                                <td *ngIf="selectedjobId">
                                                                    <p class="cursor-pointer" *ngIf="item?.statusDetails?.remark && !item?.showFullRemark" (click)="addRemarkPopup(item)">{{showRemark(item?.statusDetails.remark,50)}} <i class="fas fa-plus-circle cursor-pointer" (click)="item.showFullRemark=!item.showFullRemark" *ngIf="item?.statusDetails?.remark?.length>50"></i></p>
                                                                    <p class="cursor-pointer" *ngIf="item?.statusDetails?.remark && item?.showFullRemark" (click)="addRemarkPopup(item)">{{item?.statusDetails.remark}} <i class="fas fa-minus-circle cursor-pointer" (click)="item.showFullRemark=!item.showFullRemark"></i></p>
                                                                    <button *ngIf="item?.statusDetails && !item?.statusDetails?.remark" mat-button color="accent" (click)="addRemarkPopup(item)">Add Remark</button>
                                                                </td>
                                                                <td class="d-flex">
                                                                    <button *ngIf="selectedjobId && item?.statusDetails?.interview_status!='Hired'" class="btn-su " mat-flat-button (click)="scheduleInterviewPopup(item)"> Schedule an
                                    <br>interview</button>
                                                                    <!-- <button class="btn-su " mat-flat-button
                                    (click)="showProfile=true;getUserProfile(item)"> View profile</button> -->
                                                                    <!-- <select style="border: none !important;   color: #172233; padding: 5px 16px;"
                                  class="form-select" aria-label="Default select example">
                                  <option selected>Hired</option>
                                  <option>Phone Screened</option>
                                  <option>Resume Reviewed</option>
                                  <option>Short Listed</option>
                                  <option>Interview Scheduled</option>
                                  <option>Rejected</option>
                                </select> -->
                                                                </td>
                                                            </tr>
                                                        </ng-container>
                                                        <!-- <tr>

                              <td> <a href="javascript:void(0)" (click)="showProfile=true"> Sheikh </a> </td>
                              <td> <select style="border: none !important;   color: #172233; padding: 5px 16px;"
                                  class="form-select" aria-label="Default select example">
                                  <option selected>Interviewed</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                              </td>


                              <td>16-July-2021
                              </td>
                              <td>
                                <button mat-button color="accent" (click)="addRemarkPopup()">Add</button>
                              </td>
                              <td>9920350011</td>
                              <td> <button class="btn-su " mat-flat-button (click)="scheduleInterviewPopup()"> Schedule an
                                  <br>interview</button></td>
                              <td> <button class="btn-su " mat-flat-button (click)="showProfile=true"> View profile</button>
                              </td>
                            </tr>
                            <tr>

                              <td> <a href="javascript:void(0)" (click)="showProfile=true"> Sheikh </a> </td>
                              <td> <select style="border: none !important;   color: #172233; padding: 5px 16px;"
                                  class="form-select" aria-label="Default select example">
                                  <option selected>Interviewed</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                              </td>


                              <td>16-July-2021
                              </td>
                              <td> Need to check
                              </td>
                              <td>9920350011</td>
                              <td> <button class="btn-su " mat-flat-button (click)="scheduleInterviewPopup()"> Schedule an
                                  <br>interview</button></td>
                              <td> <button class="btn-su " mat-flat-button (click)="showProfile=true"> View profile</button>
                              </td>
                            </tr> -->



                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="tab-pane fade {{activeTab('Search')?'show active':''}}" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                                    <mat-card class="table-list-card p-0" style="overflow: hidden;">
                                        <app-profile [pageContent]="selectedProfile" *ngIf="showProfile"></app-profile>
                                        <div *ngIf="!showProfile" class="my-0">
                                            <div style="overflow-x:auto;">
                                                <table class="table table-borderd table-hover mb-0">
                                                    <thead>
                                                        <tr>

                                                            <th scope="col">Name</th>
                                                            <th scope="col">Location</th>
                                                            <th scope="col">Qualification</th>
                                                            <th scope="col">L4o Major</th>
                                                            <th width="250px" scope="col">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <ng-container *ngFor="let item of applicationsList;let i=index;">
                                                            <tr *ngIf="selectedjobId && !isCandidateSelectedInJob(item)">

                                                                <td> <a href="javascript:void(0)" (click)="getUserProfile(item)"> {{item?.name}} </a>
                                                                </td>
                                                                <td>
                                                                    {{item?.district}}
                                                                    <p class="mb-0"><small>{{item?.state}}</small></p>
                                                                </td>


                                                                <td>{{item?.qualification}}
                                                                </td>
                                                                <td> {{item?.sector?.title}}
                                                                </td>
                                                                <!--<td>
                                   <select *ngIf="item?.statusDetails" [(ngModel)]="item.statusDetails.interview_status"
                                    (ngModelChange)="updateInterViewStatus(item)"
                                    style="border: none !important;   color: #172233; padding: 5px 16px;"
                                    class="form-select" aria-label="Default select example">
                                    <option value="Pending" selected disabled>Not Short Lister</option>
                                    <option value="Short Listed">Short List</option>
                                  </select> 
                                </td>-->
                                                                <!-- <td *ngIf="selectedjobId">
                                  <p *ngIf="item?.statusDetails?.remark" [innerHtml]="item?.statusDetails.remark"></p>
                                  <button *ngIf="item?.statusDetails && !item?.statusDetails?.remark" mat-button
                                    color="accent" (click)="addRemarkPopup(item)">Add Remark</button>
                                </td> -->
                                                                <td class="d-flex">
                                                                    <!-- <button *ngIf="selectedjobId" class="btn-su " mat-flat-button
                                    (click)="scheduleInterviewPopup(item)"> Schedule an
                                    <br>interview</button> -->
                                                                    <button class="btn-su " mat-flat-button (click)="showProfile=true;getUserProfile(item)"> View profile</button>
                                                                    <button *ngIf="selectedjobId" class="btn-su btn-shortlisted-status" mat-flat-button (click)="item.statusDetails.interview_status='Short Listed';updateInterViewStatus(item)" [disabled]="item.statusDetails?.interview_status=='Short Listed'">
                                    Short List</button>
                                                                    <!-- <select style="border: none !important;   color: #172233; padding: 5px 16px;"
                                    class="form-select" aria-label="Default select example">
                                    <option selected>Hired</option>
                                    <option>Phone Screened</option>
                                    <option>Resume Reviewed</option>
                                    <option>Short Listed</option>
                                    <option>Interview Scheduled</option>
                                    <option>Rejected</option>
                                  </select> -->
                                                                </td>
                                                            </tr>
                                                            <tr *ngIf="!selectedjobId">

                                                                <td> <a href="javascript:void(0)" (click)="getUserProfile(item)"> {{item?.name}} </a>
                                                                </td>
                                                                <td>
                                                                    {{item?.district}}
                                                                    <p class="mb-0"><small>{{item?.state}}</small></p>
                                                                </td>


                                                                <td>{{item?.qualification}}
                                                                </td>
                                                                <td> {{item?.sector?.title}}
                                                                </td>
                                                                <td *ngIf="selectedjobId">
                                                                    <select *ngIf="item?.statusDetails" [(ngModel)]="item.statusDetails.interview_status" (ngModelChange)="updateInterViewStatus(item)" style="border: none !important;   color: #172233; padding: 5px 16px;" class="form-select" aria-label="Default select example">
                                    <option value="Pending" selected disabled>Not Short Listed</option>
                                    <option value="Short Listed">Short List</option>
                                  </select>
                                                                </td>
                                                                <td *ngIf="selectedjobId">
                                                                    <p *ngIf="item?.statusDetails?.remark" [innerHtml]="item?.statusDetails.remark"></p>
                                                                    <button *ngIf="item?.statusDetails && !item?.statusDetails?.remark" mat-button color="accent" (click)="addRemarkPopup(item)">Add Remark</button>
                                                                </td>
                                                                <td class="d-flex">
                                                                    <button *ngIf="selectedjobId" class="btn-su " mat-flat-button (click)="scheduleInterviewPopup(item)"> Schedule an
                                    <br>interview</button>
                                                                    <button class="btn-su " mat-flat-button (click)="showProfile=true;getUserProfile(item)"> View profile</button>
                                                                    <!-- <select style="border: none !important;   color: #172233; padding: 5px 16px;"
                                    class="form-select" aria-label="Default select example">
                                    <option selected>Hired</option>
                                    <option>Phone Screened</option>
                                    <option>Resume Reviewed</option>
                                    <option>Short Listed</option>
                                    <option>Interview Scheduled</option>
                                    <option>Rejected</option>
                                  </select> -->
                                </td>
                              </tr>
                            </ng-container>
                            <tr *ngIf="showMoreBtn">
                              <td colspan="5">
                                <button class="btn btn-light d-block"
                                  (click)="fetchApplications(applicationsList?.length)">Load More</button>
                              </td>
                            </tr>
                            <!-- <tr>

                              <td> <a href="javascript:void(0)" (click)="showProfile=true"> Sheikh </a> </td>
                              <td> <select style="border: none !important;   color: #172233; padding: 5px 16px;"
                                  class="form-select" aria-label="Default select example">
                                  <option selected>Interviewed</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                              </td>


                              <td>16-July-2021
                              </td>
                              <td>
                                <button mat-button color="accent" (click)="addRemarkPopup()">Add</button>
                              </td>
                              <td>9920350011</td>
                              <td> <button class="btn-su " mat-flat-button (click)="scheduleInterviewPopup()"> Schedule an
                                  <br>interview</button></td>
                              <td> <button class="btn-su " mat-flat-button (click)="showProfile=true"> View profile</button>
                              </td>
                            </tr>
                            <tr>

                              <td> <a href="javascript:void(0)" (click)="showProfile=true"> Sheikh </a> </td>
                              <td> <select style="border: none !important;   color: #172233; padding: 5px 16px;"
                                  class="form-select" aria-label="Default select example">
                                  <option selected>Interviewed</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                              </td>


                              <td>16-July-2021
                              </td>
                              <td> Need to check
                              </td>
                              <td>9920350011</td>
                              <td> <button class="btn-su " mat-flat-button (click)="scheduleInterviewPopup()"> Schedule an
                                  <br>interview</button></td>
                              <td> <button class="btn-su " mat-flat-button (click)="showProfile=true"> View profile</button>
                              </td>
                            </tr> -->



                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- <div class="name">Browse Candidates</div>
                    <div class="px-5">
                      <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                          <mat-card>
                            <div class="card ">
                              <img [src]="'/assets/images/girl.png'">

                              <div class="card-body">
                                <h1 class="card-title">Eliud Kipchoge</h1>
                                <p class="card-text">Field Sales experience for 2 years</p>

                              </div>
                            </div>

                          </mat-card>
                        </ng-template>
                        <ng-template carouselSlide>
                          <mat-card>
                            <div class="card">
                              <img [src]="'/assets/images/girl.png'">

                              <div class="card-body">
                                <h1 class="card-title">Eliud Kipchoge</h1>
                                <p class="card-text">Field Sales experience for 2 years</p>

                              </div>
                            </div>

                          </mat-card>
                        </ng-template>
                        <ng-template carouselSlide>

                          <mat-card>
                            <div class="card">
                              <img [src]="'/assets/images/girl.png'">

                              <div class="card-body">
                                <h1 class="card-title">Eliud Kipchoge</h1>
                                <p class="card-text">Field Sales experience for 2 years</p>

                              </div>
                            </div>
                          </mat-card>

                        </ng-template>
                        <ng-template carouselSlide>
                          <mat-card>
                            <div class="card">
                              <img [src]="'/assets/images/girl.png'">

                              <div class="card-body">
                                <h1 class="card-title">Eliud Kipchoge</h1>
                                <p class="card-text">Field Sales experience for 2 years</p>

                              </div>
                            </div>

                          </mat-card>
                        </ng-template>
                      </owl-carousel-o>
                    </div> -->
                                    </mat-card>
                                </div>
                            </div>




                            <!---  <div class="row">
<div class=" col-lg-4">

             
                </div>
            
        

</div>
</div>--->

                        </div>
                    </div>

                </div>