.container {
    max-width: 1410px;
}



.name{
 font-size: 24px;
 font-weight: 600;
 padding-bottom: 20px;
 padding-top: 20px;
}
.dashboard{
.mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
 
    margin: 10px auto;
    display: block;
}

.nav-button {
 
    height: 35px;
    font-size: 14px;
}

.card-text{
    color: #828282;
    font-size: 18px;
    text-align: center;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
}

.box-shadow{


    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

button{
    text-align: center;
    margin: 0 auto;
    display: block;
   
}
.pd100{
padding-top: 30px;
}
.card-title{

    font-size: 24px;
    text-align: center;
}
.card-text{

    font-size: 18px; 
    text-align: center; 
}
table{
    background: #FFFFFF;
/* card / floating */
}
.table thead th {
    vertical-align: bottom;
    border: 1px solid #CACACA;
}
.qualification-drop{
    // font-style: italic;
font-weight: normal;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #4343E5;
}
.cursor-pointer{
    cursor: pointer;
}
.btn-shortlisted-status{
    background: #3EC6EB;
border-radius: 5px;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
     border-top:none;
    text-align: center; 
    font-weight: 400;
    font-size: 16px; 
    color: #172233;
    border-top: 1px solid #dee2e6;
}

table tbody   td{
    font-size: 16px; 

}
 .table td a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    letter-spacing: 0.1px;
    
    color: #1565D8;
    
 }
select {
    // border: 2px solid #29B67F !important;
    border: none !important;
    background: transparent !important;
    color: #29B67F;
    /* padding: 19px; */
    /* padding-right: 9px; */
    padding: 5px 54px;

} .table th {
    font-weight: 500;
    font-size: 18px;
    border-top:none;
    background: rgba(77, 78, 76, 0.2);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: #2BB88A;
}
.left-nav-dashboard{
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.nav-pills .nav-link {
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
a{
    color: #828282;
}
/* .owl-stage-outer {
    margin-left: 50px;
    margin-right: 50px;
} */
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
     border: none;
    border-radius: .25rem;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
   background-color:none !important;
}
.mat-form-field-infix {
    padding: 0.5em 0;
  border-top: none !important;
}

.owl-theme .owl-nav .owl-next {
    border-radius: 50%;
    position: absolute;
    right: -50px;
    top: 40%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.owl-theme .owl-nav .owl-prev {
    border-radius: 50%;
    position: absolute;
    left: -50px;
    top: 40%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.table-list-card{
    background: #FFFFFF;
border: 0.5px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
/* card / floating */

box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
border-radius: 8px;
}
.more{
// background-color: #172233;
background: #3C3C3C;
border-radius: 4px;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

letter-spacing: 0.1px;

color: #FFFFFF;

padding: 5px 30px;
}
.btn-shortlisted{
    background: #1565D8;
    border-radius: 5px;
    color: #fff;
}
.btn-reviewed{
    background: #DE6944;
    border-radius: 5px;
    color: #fff;
}
.btn-interviewd{
    background: #FCDDEC;
    border-radius: 5px;
}
.btn-onboard{
    background: #4CAF50;
    border-radius: 5px;
    color: #fff;
}
.pd{
    
    mat-card{
    padding: 0 !important;
    margin-right: 16px;
}

}
.hight{input.mat-input-element {
    /* margin-top: -0.0625em; */
    height: 37px;
}

}
}

.back{
    background-color: #29B67F;
font-size: 10px;
}

button.btn-su {
    line-height: 1;
    background-color: #29B67F;
    /* width: 180px; */
    min-height: 35px;
    padding: 5px 15px;
    color: #fff;
    font-size: 10px;
}

.padding-t15{
    label{
   
font-size: 20px;
    
}
.mat-form-field-hide-placeholder .mat-select-placeholder {
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition: none;
    display: block;
    line-height: 2;
}


}

.font-20{
    font-size: 20px;
}




@media only screen and (min-width: 992px) and (max-width: 1024px)  {

.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding:6px !important;
    border-radius: 4px;
}

.padding-t15 label {
    font-size: 15px;
}
.font-20{
    font-size: 20px;
}
}
@media screen and (min-width: 700px) and (max-width: 768px) { 
.padding-t15 label {
    font-size: 14px;
}
button.btn-success {
    background: linear-gradient(
93.58deg
, #3FC7F4 0%, #29B67F 100%);
    width: 138px;
    color: #fff;
}

.dashboard .table td, .dashboard .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #172233;
}
.dashboard .table th {
    font-weight: 500;
    font-size: 16px;
    border-top: none;
}
}

@media only screen and (max-device-width: 480px) {

    .padding-t15 label {
        font-size: 14px;
    }
    button.btn-success {
        background: linear-gradient(
    93.58deg
    , #3FC7F4 0%, #29B67F 100%);
        width: 138px;
        color: #fff;
    }
    .mat-form-field {
        font-size: inherit;
        font-weight: 400;
        line-height: 1.125;
        font-family: Roboto;
        letter-spacing: 1.5px;
        width: 100%;
    }
    
   
    
    .dashboard .table td, .dashboard .table th {
        padding: 0.75rem;
        vertical-align: top;
        border-top: none;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        color: #172233;
    }
    .dashboard .table th {
        font-weight: 500;
        font-size: 16px;
        border-top: none;
    }

}