<!-- <app-header></app-header> -->
<div class="profile-hading">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1>Profile</h1>
            </div>

        </div>
    </div>

</div>
<div class="profile">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="bg shadow-sm   bg-light rounded">

                    <div class="row align-items-center" style="align-items: center;">
                        <div class="col-lg-5">
                            <div class="profile-img">
                                <img src="/assets/images/girl.png" alt="..." class="rounded-circle shadow img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="detail pr-3 pr-md-4">
                                <div class="name">
                                    {{pageContent?.name}}
                                </div>
                                <p class="phone">{{pageContent?.phoneNo}}</p>
                                <p class="mail">{{pageContent?.email}}</p>



                                <p class="degree">Qualification (Degree)</p>
                                <p class="experience">Past Experience/company</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="backend">
                    <img src="/assets/images/Backend Developer stamp 1.png" alt="..." class="img-fluid">
                    <p class="title">{{pageContent?.sector?.title}}</p>
                </div>
            </div>

            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-3 text-center status-box">
                        <mat-label class="status-label">Status</mat-label>
                    </div>
                    <div class="col-md-6">
                        <button *ngIf="pageContent?.statusDetails && pageContent.statusDetails.interview_status=='Pending'" class="btn-su btn-shortlisted-status mb-2 w-100" mat-flat-button (click)="pageContent?.statusDetails.interview_status='Short Listed';updateInterViewStatus(pageContent)">
                Short List</button>
                        <mat-form-field *ngIf="pageContent?.statusDetails && pageContent.statusDetails.interview_status!='Pending'" class="w-100">
                            <mat-select class="status-select" [(ngModel)]="pageContent.statusDetails.interview_status" (ngModelChange)="updateInterViewStatus(pageContent)">
                                <mat-option value="">All</mat-option>
                                <mat-option value="Hired">Hired</mat-option>
                                <mat-option value="Pending">Pending</mat-option>
                                <mat-option value="Phone Screened">Phone Screened</mat-option>
                                <mat-option value="Resume Reviewed">Resume Reviewed</mat-option>
                                <mat-option value="Short Listed">Short Listed</mat-option>
                                <mat-option value="Interview Scheduled">Interview Scheduled</mat-option>
                                <mat-option value="Rejected">Rejected</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button *ngIf="pageContent?.selectedjobId && pageContent?.statusDetails?.interview_status!='Hired'" class="btn-su mb-3 d-block w-100" mat-flat-button (click)="scheduleInterviewPopup(pageContent)"> Schedule an
              interview</button>
                    </div>
                </div>

                <h1>Looking for roles in accounting</h1>
                <h1><span>Location:</span> open to relocate</h1>
                <!-- <h1><span>Technologies:</span> NodeJS, React, Bootstrap </h1> -->
            </div>
        </div>
    </div>
</div>


<div class="videoresume">
    <div class="container  ">
        <div class="row">
            <div class="col-md-7">
                <h1>Video Resume</h1>
                <div class="embed-responsive embed-responsive-16by9" *ngIf="pageContent?.videoResume">
                    <iframe class="embed-responsive-item" [src]="pageContent?.videoResume" frameborder="0" allowfullscreen></iframe>
                </div>
                <!-- <img src="/assets/images/Mask Group.png" alt="..." class="img-fluid"> -->
            </div>



            <div class="col-md-5">
                <div class="ecard">
                    <div class="row align-items-center">
                        <div class="col-6">


                            <h1>Education</h1>
                        </div>

                        <div class="col-6">
                            <!-- <a href="javascript:void(0)" (click)="openAddEducationDialog()">Add Education <i class="fa fa-plus-circle" aria-hidden="true"></i></a> -->
                        </div>
                        <ng-container *ngFor="let item of pageContent?.resume?.education">
                            <div class="col-8">
                                <div class="detail">
                                    <h2>{{item?.degree}}</h2>
                                    <h6>{{item?.endDate | date:"d MMMM y"}}</h6>
                                    <p>{{item?.institute}}
                                    </p>
                                </div>
                            </div>

                            <div class="col-4">
                                <!-- <div class="edit-icon"> <i class="fas fa-edit"></i> <i class="fa fa-trash" aria-hidden="true"></i> </div> -->

                            </div>
                        </ng-container>
                        <!-- <div class="col-8">
              <div class="detail">
                <h2>B.Tech Engg</h2>
                <h6>Jan 2021- Present</h6>
                <p>Delhi University
                </p>
              </div>
            </div>

            <div class="col-4">
              <! -- <div class="edit-icon"> <i class="fas fa-edit"></i> <i class="fa fa-trash" aria-hidden="true"></i> </div> -- >

            </div>

            <div class="col-8">
              <div class="detail">
                <h2>B.Tech Engg</h2>
                <h6>Jan 2021- Present</h6>
                <p>Delhi University
                </p>
              </div>
            </div>

            <div class="col-4">
              <! -- <div class="edit-icon"> <i class="fas fa-edit"></i> <i class="fa fa-trash" aria-hidden="true"></i> </div> -- >

            </div>
            <div class="col-8">
              <div class="detail">
                <h2>B.Tech Engg</h2>
                <h6>Jan 2021- Present</h6>
                <p>Delhi University
                </p>
              </div>
            </div>

            <div class="col-4">
              <! -- <div class="edit-icon"> <i class="fas fa-edit"></i> <i class="fa fa-trash" aria-hidden="true"></i> </div> -- >

            </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-12">

                <h1>Courses in Progress</h1>
                <div class="row">
                    <div class="col-md-3" *ngFor="let item of  pageContent?.resume?.course">

                        <img src="/assets/images/Group.png" alt="..." class="rounded-circle shadow">
                        <div class="fontendcard">
                            <button mat-flat-button type="submit" class="fontend-button ">{{item?.courseTitle}}</button>
                        </div>


                    </div>

                    <!-- <div class="col-md-4">

            <img src="/assets/images/Group.png" alt="..." class="rounded-circle shadow">
            <div class="fontendcard">
              <button mat-flat-button type="submit" class="fontend-button ">Frontend Developer</button>
            </div>


          </div>
          <div class="col-md-4">

            <img src="/assets/images/Group.png" alt="..." class="rounded-circle shadow">
            <div class="fontendcard">
              <button mat-flat-button type="submit" class="fontend-button ">Frontend Developer</button>
            </div>


          </div> -->
                </div>
            </div>
        </div>
        <div class="container skills mb-3">
            <div class="ecard p-3">
                <h2 class="d-flex">SKILLS
                    <!-- <a href="javascript:void(0)" class="ml-auto">Add Skills <i class="fas fa-plus-circle"></i></a> -->
                </h2>
                <button *ngFor="let item of  pageContent?.resume?.skill" class="btn btn-skill d-inline-block mr-2 mb-2">{{item}}</button>
                <!-- <button class="btn btn-skill d-inline-block">Jquery</button>
        <button class="btn btn-skill d-inline-block">PHP</button>
        <button class="btn btn-skill d-inline-block">Mysql</button>
        <button class="btn btn-skill d-inline-block">PHP</button>
        <button class="btn btn-skill d-inline-block">Mysql</button>
        <button class="btn btn-skill d-inline-block">Jquery</button>
        <button class="btn btn-skill d-inline-block">HTML5</button>
        <button class="btn btn-skill d-inline-block">Jquery</button>
        <button class="btn btn-skill d-inline-block">Mysql</button>
        <button class="btn btn-skill d-inline-block">PHP</button> -->
<<<<<<< HEAD
      </div>
      <div class="ecard my-5">
        <div class="row align-items-center">
          <div class="col-12">
            <h1 class="d-flex">Work Experience
              <!-- <a href="javascript:void(0)" (click)="addworkexperience()"
                class="ml-auto">Add Work Experience <i class="fas fa-plus-circle"></i></a> -->
            </h1>
          </div>
          <ng-container *ngFor="let item of pageContent?.resume?.work">
            <div class="col-10">
              <div class="detail">
                <h2>{{item?.title}}</h2>
                <p>{{item?.company}}</p>
                <h6>{{item?.startDate | date:"d MMM y"}} - <span *ngIf="item?.endDate=='Present'">{{item?.endDate}}</span><span *ngIf="item?.endDate!='Present'">{{item?.endDate | date:"d MMM y"}}</span></h6>
                <p>{{item?.description}}</p>
              </div>
=======
>>>>>>> dev
            </div>
            <div class="ecard my-5">
                <div class="row align-items-center">
                    <div class="col-12">
                        <h1 class="d-flex">Work Experience
                            <!-- <a href="javascript:void(0)" (click)="addworkexperience()"
                class="ml-auto">Add Work Experience <i class="fas fa-plus-circle"></i></a> -->
                        </h1>
                    </div>
                    <ng-container *ngFor="let item of pageContent?.resume?.work">
                        <div class="col-10">
                            <div class="detail">
                                <h2>{{item?.title}}</h2>
                                <p>{{item?.company}}</p>
                                <h6>{{item?.startDate | date:"d MMM y"}} - <span *ngIf="item?.endDate=='Present'">{{item?.endDate}}</span><span *ngIf="item?.endDate!='Present'">{{item?.endDate | date:"d MMM y"}}</span></h6>
                                <p>{{item?.description}}</p>
                            </div>
                        </div>
                        <div class="col-2 text-right">
                            <!-- <div class="edit-icon"> <i class="fas fa-edit"></i> <i class="fa fa-trash" aria-hidden="true"></i> </div> -->

                        </div>
                    </ng-container>
                    <!-- <div class="col-10">
            <div class="detail">
              <h2>Front-end Developer</h2>
              <h6>Jan 2021- Present</h6>
              <p>Working with a variety of clients to help them digitalize their companies. In addition, I handled a
                variety of digital channels and marketing campaigns. built eCommerce sites and oversaw their marketing
                efforts,
              </p>
            </div>
          </div>

          <div class="col-2 text-right">
            <div class="edit-icon"> <i class="fas fa-edit"></i> <i class="fa fa-trash" aria-hidden="true"></i> </div>

          </div> -->
                </div>
            </div>
            <div class="ecard my-5">
                <div class="row align-items-center">
                    <div class="col-12">
                        <h1 class="d-flex">Projects
                            <!-- <a href="javascript:void(0)" class="ml-auto">Add Project <i
                  class="fas fa-plus-circle"></i></a> -->
                        </h1>
                    </div>
                    <ng-container *ngFor="let item of pageContent?.resume?.project">
                        <div class="col-10">
                            <div class="detail">
                                <h2>{{item?.title}}</h2>
                                <h6>{{item?.subtitle}}</h6>
                                <h6>{{item?.startDate | date:"d MMM y"}} - {{item?.endDate | date:"d MMM y"}}</h6>
                                <p>{{item?.description}}</p>
                            </div>
                        </div>
                        <div class="col-2 text-right">
                            <!-- <div class="edit-icon"> <i class="fas fa-edit"></i> <i class="fa fa-trash" aria-hidden="true"></i> </div> -->
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="ecard my-5">
                <div class="row align-items-center">
                    <div class="col-12">
                        <h1 class="d-flex">Certificates
                            <!-- <a href="javascript:void(0)" class="ml-auto">Add Certificate <i
                  class="fas fa-plus-circle"></i></a> -->
                        </h1>
                    </div>
                    <ng-container *ngFor="let item of pageContent?.resume?.certificate">
                        <div class="col-10">
                            <div class="detail">
                                <h2>{{item?.title}}</h2>
                                <h6>{{item?.authority}}</h6>
                                <h6>{{item?.date | date:"d MMMM y"}}</h6>
                                <p>{{item?.description}}</p>
                            </div>
                        </div>

                        <div class="col-2 text-right">
                            <!-- <div class="edit-icon"> <i class="fas fa-edit"></i> <i class="fa fa-trash" aria-hidden="true"></i> </div> -->
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>