
<app-header></app-header>
<div class="container header-top-spacing">
<div class="row  justify-content-center">
    <div class="signin_section col-6">


     
        <h4 class="main_title"><span>Change Password
        </span></h4>
        <p class="signin_subtitle">Update your password</p>
        
        <form class="sign_in_form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <div class="col-12">
                <mat-form-field appearance="outline" class="su-input">
                    <mat-label>Current Password</mat-label>
                    <input formControlName="old_password" matInput type="password">
                </mat-form-field>
                <mat-form-field appearance="outline" class="su-input">
                    <mat-label>Enter New Password</mat-label>
                    <input formControlName="password" matInput type="password">
                    <!-- <mat-error *ngIf="signupForm.controls.password.errors">
                      <div *ngIf="signupForm.controls.password.errors.pattern">Min 8 characters with atleast 1 number and 1 special character</div>
                    </mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline" class="su-input">
                    <mat-label>Re-type your Password</mat-label>
                    <input formControlName="cpassword" matInput type="password">
                    <!-- <mat-error *ngIf="signupForm.controls.password.errors">
                      <div *ngIf="signupForm.controls.password.errors.pattern">Min 8 characters with atleast 1 number and 1 special character</div>
                    </mat-error> -->
                </mat-form-field>
            </div>
            <div class="su-button-cont">
               
                <div class="btn" style="margin-top: 10%;">
                    <button mat-flat-button type="submit" class="btn-cancel mr-3">Cancel</button>
                    <button mat-flat-button type="submit" class="btn-success right_align">Submit</button>
                </div>
             
                <!-- <div class="errorMsg" *ngIf="isError">{{this.isError}}</div> -->
            </div>
        </form>
    </div>

</div>
</div>