
<app-header></app-header>
<div class="container" >
    <div class="row  justify-content-center">
<div class="col-lg-6 ">
<mat-card ><svg  class="mail-image" width="147" height="148" viewBox="0 0 147 148" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0)">
    <circle cx="73.5003" cy="73.9681" r="73.5003" fill="#F6F6F6"/>
    <g clip-path="url(#clip1)">
    <path d="M123.5 65.6254V124.214H23.5211L59.8968 92.1872L23.5005 65.6254L73.5006 23.7227L123.5 65.6254Z" fill="#EAB54E"/>
    <path d="M32.6616 33.6201H113.818V97.168H32.6616V33.6201Z" fill="#EEEFEE"/>
    <path d="M87.1045 92.1873L123.48 124.214H123.501V65.6255L87.1045 92.1873Z" fill="#F6C863"/>
    <path d="M59.8968 92.1873L23.5211 124.214H23.5005V65.6255L59.8968 92.1873Z" fill="#F6C863"/>
    <path d="M123.48 124.213H23.521L59.8966 92.187H87.1041L123.48 124.213Z" fill="#EAB54E"/>
    <path d="M73.5039 81.526L86.6637 64.1L79.8406 64.0939V46.5327H66.9296L66.9356 64.1L60.3369 64.0939L73.5039 81.526Z" fill="#29B67F"/>
    </g>
    </g>
    <defs>
    <clipPath id="clip0">
    <rect width="147.001" height="147.001" fill="white" transform="translate(0 0.467773)"/>
    </clipPath>
    <clipPath id="clip1">
    <rect width="100" height="100.87" fill="white" transform="translate(23.5005 23.5332)"/>
    </clipPath>
    </defs>
    </svg>


    <h1>CHeck your mail</h1>

    <p>We have sent a password recover<br>
        Instructions to your mail</p>

        <button class="nav-button btn-mail" mat-flat-button [routerLink]="'/dashboard'">
            <span class="nav-button-text">OKAY</span>
          </button>
    </mat-card>
</div>
</div>

</div>
